.typesLayer {
    margin: 1em auto 2em;
    padding: 2em 1em;
    text-align: center;
    height: 300px;
    width: 80%;
    background-color: lightcyan;
    box-shadow: 5px 4px 15px black;
    border-radius: 30px;
}

.materialsType {
    display: inline-block;
    width: 180px;
    height: 300px;
    border: 2px solid darkslategrey;
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 2px 8px black;
    background: seashell;
}

.materialsType:hover {
    box-shadow: 4px 3px 10px black;
    background: gainsboro;
    margin-left: 10px;
    margin-right: 30px;

}

.materialsType:target {
    background: blueviolet;
}

.materialsType img {
    border-radius: 30px;
    height: 170px;
}

.allSum {
    margin-top: 20px;
}