.typesLayer {
    text-align: center;
    background: lightcyan;

}
.blockContainer {
    text-align: center;
    display: inline-flex;
    border-radius: 30px;
    margin: 50px 50px;
}

.blockContainer img {
    width: 200px;
    height: 200px;
}

.textareaBlock {
    text-align: center;
    display: inline-flex;
}

.textareaBlock textarea{
    margin-top: 15px;
    margin-right: 20px;
    width: 5em;
    height: 20px;

}
